/*main*/
article, aside, figure, footer, header, hgroup, 
  menu,  section { display: block; }
  body{
    font-family: 'Ubuntu', sans-serif;
    background: #b4b4b4 repeat scroll 0 0 transparent;
  }
  #body{
    width:98%;
    max-width:450px;    
    margin:auto;
  }
  nav ul{ 
      list-style-type:none; 
      margin:0;
      padding:0;
      font-size:1.6em;
      display:none;
  }
  nav li{     
    display:inline;    
    margin:1%;    
  }  
  a{ text-decoration:underline; color:#888888; }
  a:hover, a:visited{ text-decoration:none; color:#000000;  }
  
  footer,footer a{
    font-size:0.75em;
    color:#888888;
  }
  footer a{ border-bottom:1px dotted #888888; }
  #books, #links {display:none;}