html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}a{outline:none;}
/*Browsers Global reset End : Sujay */

body { margin:0px; padding:0px; text-align:center;}
h1 { width:290px; height:58px; float:left; text-indent:-9999px; background:url(../images/Logo_Fireblade.jpg) top right no-repeat;}

.wrapper { width:1113px; margin:auto; text-align:left;}
#container { width:100%; float:left; position:relative;}
/*Header*/
#header { width:100%; float:left; position:relative; height:81px; padding-top:15px;}
#header .mylog { width:230px; float:right; padding-top:13px;}
#header .mylog li { font:normal 11px arial; color:#000000; float:left; width:70px;}
#header .mylog li a { text-decoration:none; color:#000000;}

/* ------------------------------------------------------------- */

#conent { width:100%; float:left; position:relative; background:url(../images/content_bg_rasing.jpg) bottom left no-repeat; min-height:630px;}

/* ------------------------------------------------------------- */
/*Aside Menu1*/
#menubar { width:175px; float:left; background:#ffffff;}
#menubar .viewNav { width:100%; float:left; margin-bottom:13px;}
#menubar .viewNav li,a{ text-decoration:none; font:normal 12px arial; color:#636363; height:24px; display:block;}
#menubar .viewNav li { border-bottom:solid 1px #e6e6e6;}
#menubar .viewNav a { padding-left:6px; padding-top:5px;}
#menubar .viewNav .active, #menubar .viewNav .active a{ font:bold 13px arial; color:#636363; background:#f4f4f4;}
#menubar .viewNav a:hover { background:#fafafa;border-bottom:solid 1px #e6e6e6;}

/*Aside Menu2*/
#menubar .mySettings { width:100%; float:left; background:url(../images/aside_menu_bg.gif) no-repeat; width:175px; height:117px; padding:2px 0;}
#menubar .mySettings li { width:100%; height:38px; font:normal 12px arial; color:#cdcdcd; line-height:39px; border-bottom:solid 1px #ffffff;}
#menubar .mySettings li a { display:block; line-height:34px; color:#cdcdcd; height:34px; padding:4px 0 0 6px; background:url(../images/arrow-grey.png) 150px 18px no-repeat;}
#menubar .mySettings li a:hover { font:bold 12px arial !important; color:#666666; line-height:34px !important; background-image:url(../images/arrow-orng.png);}
#menubar .mySettings .active a{color:#fca82c !important; font-weight:bold;}
.last { border:none !important;}

/* ------------------------------------------------------------- */
/*Mid Content */
#myCon { width:700px; float:left; margin:0 16px 0 22px;}

#dashboard {width:100%; float:left; position:relative;}
#dashboard h2 { font:bold 19px arial; color:#000000; float:left; height:32px;}
#dashboard .tabmenu {width:376px; display:block; background:url(../images/tabs-bg.jpg) no-repeat; z-index:2; position:absolute; top:0px; right:6px;}
#dashboard .tabmenu li { font:bold 12px arial; color:#ffffff;}
#dashboard .tabmenu li span { font:bold 14px arial;}
#dashboard .tabmenu .unit { width:119px; float:left; padding:8px 0 8px 16px; display:block;}
#dashboard .tabmenu .date { padding:8px 0 8px 13px; float:left; font-size:17px;}
#dashboard .graph { width:100%; float:left; margin-top:-3px; z-index:1;}

#myViews { width:100%; float:left;}
#myViews h3 { width:490px; float:left; text-align:left; font:normal 15px arial; color:#a2a2a0; padding:8px 0;}
#myViews h3 b { font-weight:bold;}
#myViews h3 span { background:url(../images/customiz-option-box.jpg) 3px 5px no-repeat; padding:0 8px 0 15px; cursor:pointer;}
#myViews h3 .active { font-weight:bold; color:#098cc6;}
#myViews .editsec { width:170px; float:right; padding-top:5px;}
#myViews .editsec label { font:bold 11px arial; color:#000000;}
#myViews .editsec .SaveView { background:url(../images/saveView-btn-bg.jpg) no-repeat; width:80px; height:24px; font:normal 11px arial; color:#000000; border:0px; cursor:pointer;}
#myViews .editsec .SaveView:hover { background-position:bottom left;}

#customFilters {width:697px; height:157px; margin-left:2px; overflow:hidden; float:left; background:url(../images/customiz.jpg) no-repeat; position:relative;}
#customFilters .tab { width:139px; float:left; display:bock; overflow:hidden; position:relative; height:156px; margin-top:1px;}
#customFilters .tab .count {float:left; text-align:center; width:100%; font:bold 19px arial; color:#ffffff; padding-top:95px; height:60px;}
#customFilters .tab .options { background:url(../images/customiz-option.jpg) no-repeat; width:82px; height:20px; position:absolute; bottom:0px; left:35px; cursor:pointer;}
#customFilters .tab .optionsSelect { height:147px; float:left; background:url(../images/options-select.jpg) no-repeat; padding:3px 0 5px 12px; width:128px;}
#customFilters .tab .optionsSelect .title { height:29px; float:left; height:29px; padding-left:22px; font:bold 11px arial; color:#ffffff; line-height:29px;}
.icon-Search { background:url(../images/icon-search.png) 0 4px no-repeat;}

#customFilters .tab .optionsSelect .selOpt { width:100%; float:left; height:101px;}
#customFilters .tab .optionsSelect .selOpt li { font:bold 11px arial; padding-top:3px; height:15px; color:#ffffff; overflow:hidden; }
#customFilters .tab .optionsSelect .selOpt li input { margin-right:7px;}
#customFilters .tab .optionsSelect .close { float:right; color:#909090; font:bold 11px arial; padding:2px 10px; cursor:pointer;}
#customFilters .tab .optionsSelect .btnOk { float:right; width:82px; height:18px; background:url(../images/btn-OK.jpg); cursor:pointer; border:none;}

#myFilters { width:100%; float:left; padding-top:10px; height:156px; position:relative;}
#myFilters .myfiltersBTN { cursor:pointer; clear:both;}
#myFilters .summary { width:657px; float:left; margin:6px 0 0 25px;}
#myFilters .summary .divd1 { float:left; width:655px; height:3px; background:#a6a6a6; border:solid 1px #cacaca;}
#myFilters .summary .divd2 { float:left; width:655px; height:1px; background:#a6a6a6; border:solid 1px #cacaca;}
#myFilters .summary h3 { height:31px; font:bold 16px arial; line-height:25px; color:#636363; padding-left:13px;}
#myFilters .summary .details { width:100%; float:left; padding:16px 0;}
#myFilters .summary .details li { padding:0 0 5px 36px; background:url(../images/dot-Grey.jpg) 14px 3px no-repeat; font:normal 12px arial; color:#636363;}
#myFilters .summary .details li b { font:bold 14px arial;}
#myFilters .summary .details li span { color:#fca525;}

#filterTray { width:697px; height:157px; background:url(../images/CustomFilter-options-tray.jpg) no-repeat; position:absolute; top:9px; left:0px; display:none;}
#filterTray .close { float:right; font:bold 12px arial; color:#ffffff; margin:10px 20px 0 0; cursor:pointer;}
#filterTray .trayWarp { width:677px; height:127px; overflow:hidden; float:right; clear:both;}
#filterTray .tray { width:146px; float:left; margin-left:14px; height:121px;}
#filterTray .first { margin:0px;}
#filterTray .tray h4 { padding-left:8px; font:bold 12px arial; color:#ffffff; float:left; height:26px; line-height:24px;}
#filterTray .tray .options { width:144px; margin:0 2px; height:92px; float:left; overflow:hidden; background:url(../images/CustomFilter-options-BG.jpg) no-repeat;}
#filterTray .tray .options li { color:#ffffff; font:normal 12px arial; border-bottom:solid 1px #4e4e4e; padding:3px 0 2px 12px;}
#filterTray .tray .options li input { margin-right:10px;}
#filterTray .tray .options .inp { padding:0px !important;}
#filterTray .tray .options .inp input { margin:0 0 5px 0 !important; width:100%; float:left; display:block; height:17px; border:0px; font:bold 11px arial; color:#000000;}
#filterTray .btnOk { width:36px; height:28px; background:url(../images/btn-OK2.png) top left; cursor:pointer; border:0px; margin:85px 0 0 8px; float:left;}
#filterTray .btnOk:hover { background-position:bottom left;}

/* ------------------------------------------------------------- */
/*Aside internal Nav*/
#myNav { width:200px; float:left;}

#quickView { width:100%; float:left; padding:7px 0 20px 0;}
#quickView .nav { width:100%; float:left; height:22px; padding-top:2px; border-bottom:solid 1px #bdbdbd; background:url(../images/quickview.jpg) no-repeat;}
#quickView .nav span { float:right; font:bold 11px arial; color:#000000; cursor:pointer; padding-right:18px; text-align:left;}
.show { background:url(../images/show_hide_radio.jpg) no-repeat 35px top;}
.hide { background:url(../images/show_hide_radio.jpg) no-repeat 26px bottom; margin-left:10px;}

#myVal { width:100%; float:left;}
#myVal li {  margin:15px 0; padding-left:60px; color:#000000; font:bold 15px arial; cursor:pointer;}
#myVal li:hover { color:#46a7d0;}
.uniq { background:url(../images/Quick-View.jpg) no-repeat left -6px;}
.bounce {background:url(../images/Quick-View.jpg) no-repeat left -43px;}
.threat {background:url(../images/Quick-View.jpg) no-repeat left -73px;}
.googl {background:url(../images/Quick-View.jpg) no-repeat left -108px;}
.yaho {background:url(../images/Quick-View.jpg) no-repeat left -142px;}
#myVal .active { color:#46a7d0;}

#riskMap { width:200px; height:159px; float:left; margin-bottom:16px; background:url(../images/RiskMap.jpg);}
#riskMap .link { padding:18px 0 0 14px; cursor:pointer;}
#riskMap .menu { width:189px; height:123px; background:url(../images/RiskMap-BG.png) no-repeat; margin:0 5px; padding-top:0px; display:none;}
#riskMap .menu li { font:bold 11px arial; color:#ffffff; padding:10px 0 3px 25px; cursor:pointer;}

#promo { width:100%; float:left; background:url(../images/promo-bg.jpg) repeat-y;}
#promo li { padding:0 25px; font:normal 12px arial; color:#8a8a8a;}
#promo .top { background:url(../images/promo-top.jpg); height:18px;}
#promo .btm { background:url(../images/promo-btm.jpg); height:17px;}
#promo h3 { color:#4f687a; font:bold 12px arial; padding-bottom:10px;}

/* ------------------------------------------------------------- */
#footer { width:740px; float:right; border-top:solid 1px #d1d1d1; padding:18px 0 0 160px; height:30px; background:url(../images/Logo_Fireblade_footer.jpg) no-repeat 0px 18px;}